[Unit]
Description=etcd

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{ etcd_name }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ internal_ip }}:2380 \
  --listen-peer-urls https://{{ internal_ip }}:2380 \
  --listen-client-urls https://{{ internal_ip }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ internal_ip }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster master-0.{{ cluster_dns_zone }}=https://{{ master_0_ip }}:2380,master-1.{{ cluster_dns_zone }}=https://{{ master_1_ip }}:2380,master-2.{{ cluster_dns_zone }}=https://{{ master_2_ip }}:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target